.aboutme{
   padding-left: 35rem;
   overflow-x: hidden;
    background-color: black;
}

section{
    min-height: 100vh;
    padding: 4rem;
}

.personal{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 6rem;
}

.personal h1{
    font-size: 4rem;
    color: #fff;
}

.personal h3{
    font-size: 2rem;
    color: white;
}

.personal p{
    font-size: 2rem;
    color: #fff;
}