.wrapper{
  font-size: 16px;
  position: realative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  color: white;
}

.spline {
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
}

.content{
  position: absolute;
  top: 30px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 100%;
  color: white;
}


.content h1{
  font-weight: itallic;
  font-size: 70px;
  margin: 0;
  max-width: 500px;
}

.content p {
  font-weight: normal;
  line-height: 150%;
  max-width: 380px;
}

.content h1,
.content p,
.content button {
  margin: 0 30px 0 100px;
}

@media (max-width: 1024px) {
  .spline {
    transform: scale(0.8) translateX(200px);
    transform-origin: top;
  }
  .content{
    gap: 40px;
  }

  .content h1{
    font-size: 60px;
    max-width: 400px;
  }

  .content h1,
  .content p{
    margin: 0 30px;
  }
    
}

@media(max-width: 800px){
  .spline{
    transform: scale(0.7) translateX(600px);
  }

  .content h1{
    font-size: 40px;
    max-width: 300px;
  }
}

@media(max-width: 800px){
  .spline{
    transform: scale(0.5) translateX(-100px);
  }

  .content h1{
    padding-top: 250px;
  }
}


@media (max-width: 600px) {
  .spline {
    transform: scale(0.5) translateX(-100px);
    right: auto;
    left: 50%;
    margin-left: -600px;
  }

  .content h1 {
    padding-top: 250px;
  }
}

@media (max-width: 375px) {
  .spline {
    transform: scale(0.45) translateX(-50px);
  }
}