body {
  margin: 0;
  font-family:'Space Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-weight: 350;
  font-size: 48px;
}

p{
  font-weight: 100;
  font-size:  24px;
}
